<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/login.css" rel="stylesheet">
	<title>Ponto eletronico</title>
</head>

<body class="text-center">

	<form class="form-signin" action="/logar" method="get">
		<h1 class="h3 mb-3 font-weight-normal">Bem vindo ao Sistema escolha a opção</h1>
		<a name="funcionarioEntrada" value="funcionarioPonto" class="btn btn-lg btn-primary btn-block"
			href="/baterponto">Bater Ponto</a>
		<a class="btn btn-lg btn-primary btn-block" href="/irpaginalogin">Login ADM</a>
	</form>
	<br>
</body>

</html>